<html>
    <head>
        <title> Angelo Ibarrola </title>
        <!-- SEMANTIC UI -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

        <!-- LOCAL CSS -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/base.css">
        <!-- LOCAL JS -->
        <script src="/js/home.js"></script>



    <body>

        <div id="mycontainer" class="ui grid">
            <div class="row">
                <div class="two wide column">
                    <div class="ui hidden divider"></div>
                        <img class="ui bordered small circular image" src="/images/headshot.jpg">
                </div>

                <div class="thirteen wide column">
                    <div class="ui hidden divider"></div><div class="ui hidden divider"></div>
                    <div class="ui secondary massive menu">
                        <h1 id="MyName"> Angelo Ibarrola</h1>
                        <!-- NAVBAR -->
                        <div class="right menu">
                            <a class="item" href="/projects"> PROJECTS </a>
                            <a class="item" href="/leader"> LEADER </a>
                            <a class="item" href="/projects"> ABOUT </a>

                        </div>
                    </div>                    
                </div>

            </div>


            <div class="row">
                
                <div class="two wide column">
                    <div class="ui vertical secondary labeled fluid icon large menu">
                        <a class="item" href="https://www.github.com/aibarrola">
                          <i class="github icon"></i>
                          github
                        </a>
                        <a class="item" href="mailto:angeloibarrola5@gmail.com">
                          <i class="mail icon"></i>
                          mail
                        </a>
                        <a class="item">
                          <i class="instagram icon"></i>
                          instagram
                        </a>
                      </div>
                </div>


            
              
         
          
           

            
    
        
