<%- include ("partials/header") %>

<div class="ui grid">
    <div class="sixteen wide column">
        <img class="ui circular centered medium image" src="images/about/headshot.jpg">
    </div>



    <div class="ten wide centered column row">
        <h3> Welcome! I am currently pursuing Computer Engineering. I use my creativity to share my story and entertain. Passionate about storytelling, community-building, and leadership. My interests include playing volleyball, vlogging and more below!</h3>
    </div>


    <div class="contain15 doubling two column row">
        <div class="column">
            <img src="images/about/wordartTransparent.png">
        </div>

        <div class="center column">
            
            <div class="ui vertical labeled icon menu">
                <a class="item" href="#design">
                    <i class="pencil alternative ball icon"></i>
                    Design
                  </a>
                <a class="item" href="#reading">
                  <i class="book icon"></i>
                  Reading
                </a>
                <a class="item" target="_blank" href="https://www.youtube.com/channel/UC2eTAqfKeV5PSwTTVNuwcMQ">
                  <i class="camera icon"></i>
                  Vlogging 
                </a>
              </div>

              <div class="ui vertical labeled icon menu">
                <a class="item" href="projects">
                  <i class="code icon"></i>
                  Coding
                </a>
                <a class="item" href="leader">
                    <i class="users icon"></i>
                    Lead
                  </a>
                  <a class="item" href="#volleyball">
                    <i class="volleyball ball icon"></i>
                    Volleyball
                  </a>
                

              </div>
              <div class="ui vertical labeled icon menu">
                <a class="item">
                  <i class="disabled gamepad icon"></i>
                  Games
                </a>
                <a class="item">
                  <i class="disabled puzzle piece icon"></i>
                  Puzzles
                </a>
                <a class="item">
                  <i class="disabled magic icon"></i>
                  Magic
                </a>
              </div>
            
        </div>
    </div>



    <div id="design" class="about sixteen wide centered column row">
        <i class="massive circular inverted pencil alternative icon"></i>
        <h1> Graphic Design </h1>
    </div>
    <div class="ten wide centered column row">
        <h3> I've held multiple leadership positions that allowed me to improve my graphic design skills such as VSA Publicity Chair 2018-2019 and ARK Publicist 2016-2017. Below are a few examples of my recent work! </h3>
    </div>
    <div class="contain5 doubling two column row">
        <div class="column">
            <img src="images/about/graphicGithub1.jpg">
        </div>
        <div class="column">
            <img src="images/about/graphicGithub2.jpg">
        </div>
    </div>
    <div class="contain5 doubling four column row">
        <div class="column">
            <img src="images/about/ailogotransparent.png">
        </div>
        <div class="column">
            <img src="images/about/vsaflyer1.png">
        </div>
        <div class="column">
            <img src="images/about/vsaflyer2.png">
        </div>
        <div class="column">
            <img src="images/about/vsaflyer3.png">
        </div>
    </div>



    <div id="reading" class="about sixteen wide centered column row">
        <i class="massive circular inverted book icon"></i>
        <h1> Reading </h1>
    </div>
    <div class="ten wide centered column row">
        <h3> Every since quarantine I've been able to read a lot more. Here are a few books I've read below! </h3>
    </div>
    <div class="sixteen wide centered column row">
        <div class="ui center medium images">

            <img class="ui rounded image" src="https://images-na.ssl-images-amazon.com/images/I/819JSdLa3OL.jpg">
 

      
            <img class="ui rounded image" src="https://images-na.ssl-images-amazon.com/images/I/81w6RZ6xm1L.jpg">


   
            <img class="ui rounded image" src="https://images-na.ssl-images-amazon.com/images/I/81VStYnDGrL.jpg">
       

 
            <img class="ui rounded image" src="https://images-na.ssl-images-amazon.com/images/I/519KsxAU05L._SX332_BO1,204,203,200_.jpg">
       
        </div>
    </div>


    <div id="volleyball" class="about sixteen wide centered column row">
        <i class="massive circular inverted volleyball ball icon"></i>
        <h1> Volleyball </h1>
    </div>
    <div class="ten wide centered column row">
        <h3> Sports has been my whole life which is the reason why I'm so competetive. Volleyball is my favorite sport but here are other sports I enjoy playing! </h3>
    </div>
    <div class="contain5 doubling four column row">
        <div class="center column">
            <i class="huge basketball ball icon"></i>
            <h4> Basktball </h4>
            <h5> Casually play with friends </h5>
        </div>

        <div class="center column">
            <i class="huge bowling ball icon"></i>
            <h4> Bowling </h4>
            <h5> I learned to bowl in 2018 <br> PR: 189 </h5>
        </div>

        <div class="center column">
            <i class="huge table tennis icon"></i>
            <h4> Table Tennis </h4>
            <h5> Member of Spartan Table Tennis <br> Club 2017-2018 </h5> 
        </div>

        <div class="center column">
            <i class="huge volleyball ball icon"></i>
            <h4> Waterpolo </h4>
            <h5> Played all 4 years in highschool </h5>
        </div>
    </div>



</div>

<%- include ("partials/footer") %>
