<%- include ("partials/header") %>

<div class="ui grid">
    <div class="sixteen wide column">
        <img class="ui circular centered medium image" src="images/about/headshot.jpg">
    </div>



    <div class="wide centered column row">
        <h3> Welcome! I use my creativity to share my story and entertain. Passionate about storytelling, community-building, and leadership. My interests include playing volleyball, vlogging and more below! This is my <a class="links" target="_blank" href="/images/resume.pdf"> Resume </a> </h3>
    </div>


    <div class="ten wide centered column row">
        <div class="ui secondary compact stackable labeled icon menu">
            <a class="item" href="#design">
                <i class="pencil alternative ball icon"></i>
                Design
            </a>
            <a class="item" href="#reading">
                <i class="book icon"></i>
                Reading
            </a>
            <a class="item" target="_blank" href="https://www.instagram.com/geloshoots/">
                <i class="camera icon"></i>
                Photography 
            </a>
            <a class="item" href="projects">
                <i class="code icon"></i>
                Web Dev
            </a>
            <a class="item" href="leader">
                <i class="users icon"></i>
                Leadership
            </a>
            <a class="item" href="#volleyball">
                <i class="volleyball ball icon"></i>
                Volleyball
            </a>
        </div>
    </div>

    <div class="seven wide centered column row">
        <img src="images/about/wordartTransparent.png">
    </div>





    <div id="design" class="about sixteen wide centered column row">
        <i class="massive circular inverted pencil alternative icon"></i>
        <h1> Graphic Design </h1>
    </div>
    <div class="ten wide centered column row">
        <h3> I've held multiple leadership positions that allowed me to improve my graphic design skills such as VSA Publicity Chair 2018-2019 and ARK Publicist 2016-2017. Here are a few examples of my recent work! </h3>
    </div>

    <div class="twleve wide centered column row">
        <div class="ui center medium images">
            <img class="ui rounded image" title="Git Explanation" src="images/about/graphicGithub1.jpg">
            <img class="ui rounded image" title="Angelo logo" src="images/about/ailogotransparent.png">
            <img class="ui rounded image" title="Github Explanation" src="images/about/graphicGithub2.jpg">
        </div>
    </div>
   





    <div id="reading" class="about sixteen wide centered column row">
        <i class="massive circular inverted book icon"></i>
        <h1> Reading </h1>
    </div>
    <div class="ten wide centered column row">
        <h3> Ever since quarantine I've been able to read a lot more. Here are a few books I've read below! </h3>
    </div>
    <div class="fiveteen wide centered column row">
        <div class="ui center small images">
            <img class="ui rounded image" src="https://images-na.ssl-images-amazon.com/images/I/819JSdLa3OL.jpg">
            <img class="ui rounded image" src="https://images-na.ssl-images-amazon.com/images/I/81w6RZ6xm1L.jpg">
            <img class="ui rounded image" src="https://images-na.ssl-images-amazon.com/images/I/81VStYnDGrL.jpg">
            <img class="ui rounded image" src="https://images-na.ssl-images-amazon.com/images/I/519KsxAU05L._SX332_BO1,204,203,200_.jpg">   
        </div>
    </div>


    <div id="volleyball" class="about sixteen wide centered column row">
        <i class="massive circular inverted volleyball ball icon"></i>
        <h1> Volleyball </h1>
    
    <div class="ten wide centered column row">
        <h3 class="center"> Sports have been my whole life which is the reason why I'm so competitive. Volleyball is my favorite sport but here are other sports I enjoy playing! </h3>
    </div>
    <div class="ui hidden divider"></div>
    <div>
        <div class="center column ui icon button" data-tooltip="Casually play with friends" data-position="bottom center" data-inverted="">
            <i data-title="Basketball" class="huge basketball ball icon"></i>
            <h4> Basketball </h4> 
        </div>

        <div class="center column ui icon button" data-tooltip="PR: 189" data-position="bottom center" data-inverted="">
            <i class="huge bowling ball icon"></i>
            <h4> Bowling </h4>
        </div>

        <div class="center column ui icon button" data-tooltip="Member of Spartan Table Tennis Club 2017-2018" data-position="bottom center" data-inverted="">
            <i class="huge table tennis icon"></i>
            <h4> Table Tennis </h4>
        </div>

        <div class="center column ui icon button" data-tooltip="Played all 4 years in highschool" data-position="bottom center" data-inverted="">
            <i class="huge volleyball ball icon"></i>
            <h4> Waterpolo </h4>
        </div>
    </div>
</div>



</div>

<%- include ("partials/footer") %>
