<%- include ("partials/header") %>

<div class="ui grid">
    <div class="sixteen wide column">
        <img class="ui centered medium image" src="images/headshot.jpg">
    </div>

    <div class="ten wide centered column">
        <h3> Welcome! I am currently pursuing Computer Engineering. I use my creativity to share my story and entertain. My interests include playing volleyball and vlogging. Passionate about storytelling, community-building, and leadership.</h3>
    </div>
</div>

<%- include ("partials/footer") %>
