<%- include ("partials/header") %>
<div class="ui grid">


    <section id="splash">
        <div id="overlay"></div>
        <div class="ui two column grid">
            <div class="five wide column">
                <img class="ui circular centered medium image" src="images/about/headshot.jpg">
            </div>
    
            <div class="eleven wide column">
                <h4 class="wordCarousel">    
                    <div> 
                        <ul class="flip3"> 
                            <li>Student Leader</li>
                            <li>Software Engineer</li> 
                            <li>Product Manager</li>  
                        </ul>
                    </div>  
                </h4>

                <br>
                <h3 class="splash-desc">
                    Kamusta! Throughout college, I was able to explore many of my interests. My interest in graphic design evolved to designing and developing websites. I also joined organizations where I found my love for community-building and leadership. 
                    <br>
                    I realized that I can combine both of my passions to pursue a career in Technical Program Manager or Product Manager. Check out more of my story below! View my <a class="links" target="_blank" href="/images/resume.pdf"> Resume </a>
                </h3>   
                <div class="mouse">
                    <a href="/#experience"> <i class="huge angle double down icon"></i></a>
                </div> 
            </div>
            
        </div>    
      
       

    </section>
    

    



    <section id="experience">
        <div class="column centered row">
        <h1 class="center title"> Experience </h1>
        


        <div class="leaderSections">
            <div class="ui two column grid">

                <div class="ui leaderSection" onclick="window.location.href = 'https://siggraphsjsu.hosting2.acm.org/';">
                    <div class="ui column grid">
                        <div class="sixteen wide column">
                            <h1>Web Developer of ACM SIGGAPH Computer Graphics at SJSU</h1>
                            <h3>
                                A student organization formed out of a need to represent students with an interest in computer graphics, the club aims to be an asset to student life by connecting the SJSU community to the computer graphics industry. We want to expand awareness of computer graphics on campus and more.
                            </h3> 
                        </div>
                    </div>
                </div>

                <div class="ui leaderSection" onclick="window.location.href = 'http://studentorgs.sjsu.edu/sase/';">
                    <div class="ui column grid">
                        <div class="sixteen wide column">
                            <h1>Industrial Chair of Society of Asian Scientests and Engineers at SJSU </h1>
                            <h3>
                                A student organization that is committed to prepare Asian heritage scientists engineers, and technologists for success in the global business world, celebrating diversity on campuses and in the workplace, and to provide opportunities for members to make contributions to their local communities.
                            </h3> 
                        </div>
                    </div>
                </div>
            </div>

            <!-- <h2 class="title2 center">Past Experience </h2>  -->
            
            <div class="ui two column grid">
                <div class="ui leaderSection" onclick="window.location.href = '/leader/vsa';">
                    <div class="ui two column grid">
                        <div class="five wide column">
                        <h1>VSA President</h1>
                        <h3> My vision included developing strong leaders, building a stronger foundation, and strengthening cabinet relations</h3>
                        <h4 class="leaderLinks"> <a href="https://www.flickr.com/photos/sjsuvsa/albums/with/72157712283932502"><i class="camera icon"></i> All VSA Photos</a></h4>   
                        </div>
                        <div class="one wide column">
                        <img class="logo" src="images/leader/vsalogo.png">
                        </div>
                        <div class="ten wide column">
                        <img class="ui centered fluid rounded image" src="images/leader/vsa.jpg">
                        </div>
                    </div>
                </div>

                <div class="ui leaderSection" onclick="window.location.href = '#';">
                    <div class="ui two column grid">
                        <div class="five wide column">
                        <h1 style="width:100%"> Akbayan Intern</h1>
                        <h3> Fostering Brilliance Through Collaboration </h3>
                        <h4><a href="https://www.flickr.com/photos/akbayansjsu/albums/72157678262908287"><i class="camera icon"></i> End of the Year Banquet photos</a></h4>
                        <h4><a href="https://www.flickr.com/photos/akbayansjsu/albums/72157708026726894"><i class="camera icon"></i> Philippine Diaspora workshop photos</a></h4>
                        </div>
                        <div class="one wide column">
                            <img class="logo" src="images/leader/aklogo.png">
                        </div>
                        <div class="ten wide column">
                        <img class="leaderThumb ui centered fluid rounded image" src="images/leader/synergy.jpg">
                        </div>
                    </div>
                </div>
    

            </div>


            
        </div>
    </section>

    <section id="project"> 
        <h1 class="center title"> Featured Projects </h1>


        <div class="contain">
            <div class="ui centered three doubling stackable special cards">
                <div class="ui link card">
                        <a class="image" href="https://github.com/aibarrola/FlushFinder">
                            <img src="/images/projects/flushfinder.png">
                        </a>
                    <div class="content">
                        <span class="right floated"> </span>
                        <div class="header"> Flush Finder </div>
                        <div class="meta"> Find and choose toilets based on reviews so you don't use dirty bathrooms </div>

                    </div>
                    <div class="extra content">
                        <span> Node.js • Express • MongoDB</span>
                        <a class="right floated" target="_blank" href="https://github.com/aibarrola/FlushFinder"> <i class="large github icon"></i> </a>
                    </div>
                </div>

                <div class="ui link card">
                        <a class="image" href="projects/affirmation">
                            <img src="/images/projects/affirmation.png">
                        </a>
                        
                    <a class="content" href="projects/affirmation">
                        <span class="right floated"> </span>
                        <div class="header"> Affirmation Messenger </div>
                        <div class="meta"> Send positive affirmations to other VSA members during quarantine </div>

                    </a>
                    <div class="extra content">
                        <span> Python • Flask • Heroku Postgres  </span>
                        <a class="right floated" target="_blank" href="https://affirmationonline.herokuapp.com/"> <i class="large external alternate icon"></i></a>
                        <a class="right floated" target="_blank" href="https://github.com/aibarrola/AffirmationMessenger"> <i class="large github icon"></i> </a>
                    </div>
                </div>
            

                <div class="ui link card">
                    <a class="image" href="projects/pairingtool">
                        <img src="/images/projects/top5bigs.png">
                    </a>
                    <a class="content" href="projects/pairingtool">
                        <span class="right floated">  </span>
                        <div class="header">Mentorship Pairing Tool</div>
                        <div class="meta"> An application to efficiently pair bigs and littles based on interests </div>
                    </a>
                    <div class="extra content">
                        <span>Python • Flask • Google Drive API </span>
                        <a class="right floated" target="_blank" href="https://github.com/aibarrola/MentorshipPairingTool"> <i class="large github icon"></i> </a>
                    </div>
                </div>       
            </div>
        </div>
            
        <div class="center">
            <section class="centered-container"><a class="link link--arrowed" href="/projects"> Show More
                <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <g fill="none" stroke="#000000" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10">
                    <circle class="arrow-icon--circle" cx="16" cy="16" r="15.12"></circle>
                    <path class="arrow-icon--arrow" d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98"></path>
                </g>
                </svg></a></section>
                    
                    </div>
            </section>
        </div>


    <section id="about">
        <h1 class="center title"> About Me </h1>
        <div class="contain">
            <h2> Howdy! I use my creativity to share my story and entertain. Passionate about storytelling, community-building, and leadership. My interests include playing volleyball, graphic design and content creation.</h2> 
        </div>

        <div class="contain">
            <div class="ui three centered doubling stackable special cards">
                <div class="ui card">
                    <a class="content">
                        <div class="center header"> <i class="huge volleyball ball icon"></i> <br> Volleyball </div>
                    </a>
                    <div class="extra content">
                        <span> I love sports in general, such as table tennis and bowling. I've played competitive soccer and waterpolo in highschool. I've been playing volleyball now for 6+ years and it was my first experience being a leader as I served as volleyball captain pun (pun intended hehe)  </span>
                    </div>
                </div>

                <div class="ui card">
                    <a class="content">
                        <div class="center header"> <i class="huge pencil alternate icon"></i> <br> Graphic Design </div>
                    </a>
                    <div class="extra content">
                        <span> I've always enjoyed making aesthetic visuals. I started in highschool when I was publicist for ARK Club(Acts of Random Kindness) and I've continued to take on leadership roles that relate to graphic design such as being publicity chair for VSA and Media Director for Akbayan.  </span>
                    </div>
                </div>

                <div class="ui card">
                    <a class="content">
                        <div class="center header"> <i class="huge camera icon"></i> <br> Content Creation </div>
                    </a>
                    <div class="extra content">
                        <span> I love social media and its ability to connect with people around the world. I started my journey in content creation when I was around 11; I would make youtube videos of my gaming. I used to vlog a lot and now I just take photos of casual hangouts for my instagram photography account.  </span>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="contact">
        <h1 class="center title"> Contact Me </h1>
        <div class="contain">
            <div class="ui three centered doubling stackable special cards">
                <div class="ui link card">
                    <a class="content" target="_blank" href="https://www.linkedin.com/in/angeloibarrola">
                        <div class="center header"> <i class="huge linkedin icon"></i> <br> Linkedin </div>
                    </a>
                    <div class="extra content">
                        <span> in/angeloibarrola </span>
                    </div>
                </div>

                <div class="ui link card">
                    <a class="content" target="_blank" href="mailto:angeloibarrola5@gmail.com">
                        <div class="center header"> <i class="huge mail icon"></i> <br> Email Address </div>
                    </a>
                    <div class="extra content">
                        <span> angeloibarrola5@gmail.com </span>
                    </div>
                </div>

                <div class="ui link card">
                    <div class="content">
                        <div class="center header"> <i class="huge phone icon"></i> <br> Phone </div>
                    </div>
                    <div class="extra content">
                        <span> (408) 207-5669 </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    








</div>


<%- include ("partials/footer") %>
