<%- include ("partials/header") %>
<div class="ui grid">


    <section id="splash">
        <div id="overlay"></div>
        <div class="ui two column grid">
            <div class="five wide column">
                <img class="ui circular centered medium image" src="images/about/headshot.jpg">
            </div>
    
            <div class="eleven wide column">
                <h4 class="wordCarousel">    
                    <div> 
                        <ul class="flip3"> 
                            <li>Software Engineer</li> 
                            <li>Product Manager</li>
                            <li>Content Creator</li>  
                        </ul>
                    </div>  
                </h4>

                <br>
                <h3 class="splash-desc">
                    Kamusta! I enjoy building valuable products, cracking jokes, and jump roping. Feel free to contact me if you want to chat about literally anyything from dad jokes to breaking into product management. <br>
                    <div class="br1"></div>
                    I'm an incoming Program Manager Intern for Microsoft. I'm currently a Product Manager Intern for <a class="links" target="_blank" href="https://www.opal-app.org/"> Opal</a>. Check out more of my story below! View my <a class="links" target="_blank" href="/images/resume.pdf"> Resume </a>
                </h3>   
                
                <div class="mouse">
                    <a href="/#experience"> <i class="huge angle double down icon"></i></a>
                </div> 
            </div>
            
        </div>    
      
       

    </section>
    

    



    <section id="experience">
        <div class="column centered row">
        <h1 class="center experienceTitle title"> Experience </h1>
        


        <div class="leaderSections">

            <div class="ui one centered column grid">
                <div class="ui experienceSection" onclick="window.location.href = 'https://www.opal-app.org/';">
                    <div class="ui two column grid">
                        <div class="sixteen wide column">
                            <h1> Incoming Program Manager Intern at Microsoft </h1> 
                            <h3>
                               Windows & Devices CSX. 
                            </h3> 
                        </div>
                        <!-- <div class="three wide column">
                            <img class="exp-logo" src="images/leader/saselogo.png">
                        </div> -->
                    </div>
                </div>
            </div>


            <div class="ui one centered column grid">
                <div class="ui experienceSection" onclick="window.location.href = 'https://www.opal-app.org/';">
                    <div class="ui two column grid">
                        <div class="sixteen wide column">
                            <h1>Front End Developer/Product Manager Intern at Opal </h1> 
                            <h3>
                                A startup that matches college students with mentors. Students deserve a clear path to their dream career, and Opal can guide them there.
                            </h3> 
                        </div>
                        <!-- <div class="three wide column">
                            <img class="exp-logo" src="images/leader/saselogo.png">
                        </div> -->
                    </div>
                </div>
            </div>


            <div class="ui one centered column grid">
                <div class="ui experienceSection" onclick="window.location.href = 'https://siggraphsjsu.hosting2.acm.org/';">
                    <div class="ui two column grid">
                        <div class="sixteen wide column">
                            <h1>Web Developer at ACM SIGGAPH Computer Graphics</h1> 
                            <h3>
                                A student organization formed out of a need to represent students with an interest in computer graphics, the club aims to be an asset to student life by connecting the SJSU community to the computer graphics industry. We want to expand awareness of computer graphics on campus and more.
                            </h3> 
                        </div>
                        <!-- <div class="three wide column">
                            <img class="exp-logo" src="images/leader/saselogo.png">
                        </div> -->
                    </div>
                </div>
            </div>

            <div class="ui one centered column grid">
                <div class="ui experienceSection" onclick="window.location.href = 'http://studentorgs.sjsu.edu/sase/';">
                    <div class="ui two column grid">
                        <div class="sixteen wide column">
                            <h1>Program Manager at Society of Asian Scientists and Engineers</h1>
                            <h3>
                                A student organization that is committed to prepare Asian heritage scientists engineers, and technologists for success in the global business world, celebrating diversity on campuses and in the workplace, and to provide opportunities for members to make contributions to their local communities.
                            </h3> 
                        </div>
                        <!-- <div class="three wide column">
                            <img class="exp-logo" src="images/leader/acmlogo.png">
                        </div> -->
                    </div>
                </div>
            </div>
    

            <!-- <h2 class="title2 center">Past Experience </h2>  -->
            <h1 class="center leadership title"> Leadership  </h1>

            
            <div class="ui two centered column grid">
                <div class="ui leaderSection" onclick="window.location.href = '/leader/vsa';">
                    <div class="ui two column grid">
                        <div class="five wide column">
                        <h1>VSA President</h1>
                        <h3> My vision included developing strong leaders, building a stronger foundation, and strengthening cabinet relations</h3>
                        <h4 class="leaderLinks"> <a href="https://www.flickr.com/photos/sjsuvsa/albums/with/72157712283932502"><i class="camera icon"></i> All VSA Photos</a></h4>   
                        </div>
                        <div class="one wide column">
                        <img class="logo" src="images/leader/vsalogo.png">
                        </div>
                        <div class="ten wide column">
                        <img class="ui centered fluid rounded image" src="images/leader/vsa.jpg">
                        </div>
                    </div>
                </div>
            


                <div class="ui leaderSection" onclick="window.location.href = '#';">
                    <div class="ui two column grid">
                        <div class="five wide column">
                        <h1 style="width:100%"> Akbayan Intern</h1>
                        <h3> Fostering Brilliance Through Collaboration </h3>
                        <h4><a href="https://www.flickr.com/photos/akbayansjsu/albums/72157678262908287"><i class="camera icon"></i> End of the Year Banquet photos</a></h4>
                        <h4><a href="https://www.flickr.com/photos/akbayansjsu/albums/72157708026726894"><i class="camera icon"></i> Philippine Diaspora workshop photos</a></h4>
                        </div>
                        <div class="one wide column">
                            <img class="logo" src="images/leader/aklogo.png">
                        </div>
                        <div class="ten wide column">
                        <img class="leaderThumb ui centered fluid rounded image" src="images/leader/synergy.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <br>
        <br>

        <div class="leaderSections">
            <h1 class="center leadership title"> Communities </h1>

            <div class="ui one centered column grid">
                <div class="ui experienceSection" onclick="window.location.href = 'https://studentambassadors.microsoft.com/';">
                    <div class="ui two column grid">
                        <div class="sixteen wide column">
                            <h1> Microsoft Student Learn Ambassador </h1> 
                            <h3>
                                A worldwide recognizable program to sponsor students majoring in disciplines related to technology. The MSP program enhances students' employability by offering training in skills not usually taught in academia, including knowledge of Microsoft technologies.                          </h3> 
                        </div>
                    </div>
                </div>
            </div>



            <div class="ui one centered column grid">
                <div class="ui experienceSection" onclick="window.location.href = 'https://www.linkedin.com/company/faangpath';">
                    <div class="ui two column grid">
                        <div class="sixteen wide column">
                            <h1> Community Manager for FAANGpath </h1> 
                            <h3>
                                A community to help over 1000 students around the world land a job in FAANG+ companies through mentorship, resume reviews, and more. 
                            </h3> 
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui one centered column grid">
                <div class="ui experienceSection" onclick="window.location.href = 'https://www.linkedin.com/company/cs-spartan/';">
                    <div class="ui two column grid">
                        <div class="sixteen wide column">
                            <h1> Community Ambassador for CS Spartans </h1> 
                            <h3>
                                The largest SJSU CS community of over 500 students to advice in career development and share career resources in tech 
                          </h3> 
                        </div>
                    </div>
                </div>
            </div>

            
            <!-- <div class="ui one centered column grid">
                <div class="ui experienceSection" onclick="window.location.href = 'https://www.linkedin.com/company/productbuds/';">
                    <div class="ui two column grid">
                        <div class="sixteen wide column">
                            <h1> Community Moderator for Product Buds</h1> 
                            <h3> A community of over 6,000 members where budding product managers sprout, grow, and flourish.</h3> 
                        </div>
                    </div>
                </div>
            </div> -->

            
    
        </div>
    </section>

   

    <section id="project"> 
        <h1 class="center title"> Featured Projects </h1>


        <div class="contain">
            <div class="ui centered three doubling stackable special cards">
                <div class="ui link card">
                        <a class="image" href="https://github.com/aibarrola/FlushFinder">
                            <img src="/images/projects/flushfinder.png">
                        </a>
                    <div class="content">
                        <span class="right floated"> </span>
                        <div class="header"> Flush Finder </div>
                        <div class="meta"> Find and choose toilets based on reviews so you don't use dirty bathrooms </div>

                    </div>
                    <div class="extra content">
                        <span> Node.js • Express • MongoDB</span>
                        <a class="right floated" target="_blank" href="https://github.com/aibarrola/FlushFinder"> <i class="large github icon"></i> </a>
                    </div>
                </div>

                <div class="ui link card">
                        <a class="image" href="projects/affirmation">
                            <img src="/images/projects/affirmation.png">
                        </a>
                        
                    <a class="content" href="projects/affirmation">
                        <span class="right floated"> </span>
                        <div class="header"> Affirmation Messenger </div>
                        <div class="meta"> Send positive affirmations to other VSA members during quarantine </div>

                    </a>
                    <div class="extra content">
                        <span> Python • Flask • Heroku Postgres  </span>
                        <a class="right floated" target="_blank" href="https://affirmationonline.herokuapp.com/"> <i class="large external alternate icon"></i></a>
                        <a class="right floated" target="_blank" href="https://github.com/aibarrola/AffirmationMessenger"> <i class="large github icon"></i> </a>
                    </div>
                </div>
            

                <div class="ui link card">
                    <a class="image" href="projects/pairingtool">
                        <img src="/images/projects/top5bigs.png">
                    </a>
                    <a class="content" href="projects/pairingtool">
                        <span class="right floated">  </span>
                        <div class="header">Mentorship Pairing Tool</div>
                        <div class="meta"> An application to efficiently pair bigs and littles based on interests </div>
                    </a>
                    <div class="extra content">
                        <span>Python • Flask • Google Drive API </span>
                        <a class="right floated" target="_blank" href="https://github.com/aibarrola/MentorshipPairingTool"> <i class="large github icon"></i> </a>
                    </div>
                </div>       
            </div>
        </div>

        <div class="center">
            <div class="buttons">
                <a href="/projects" class="btn btn-2">View more</a>
            </div>
        </div>
        
            
    </section>


    <section id="about">
        <h1 class="center title"> About Me </h1>
        <div class="contain">
            <h2> Howdy! I'm passionate about storytelling, community-building, and leadership. I'm currently addicted to self-development and productivity. Past hobbies include learning magic, solving rubik's cube, juggling, playing guitar, learning caligraphy and so much more. </h2> 
        </div>

        <div class="contain">
            <div class="ui three centered doubling stackable special cards">
                <div class="ui card">
                    <a class="content">
                        <div class="center header"> <i class="huge volleyball ball icon"></i> <br> Volleyball </div>
                    </a>
                    <div class="extra content">
                        <span> I love sports in general, such as table tennis and bowling. I've played competitive soccer and waterpolo in highschool. I've been playing volleyball now for 6+ years and it was my first experience being a leader as I served as volleyball captain (pun intended hehe)  </span>
                    </div>
                </div>

                <div class="ui card">
                    <a class="content">
                        <div class="center header"> <i class="huge pencil alternate icon"></i> <br> Graphic Design </div>
                    </a>
                    <div class="extra content">
                        <span> I've always enjoyed making aesthetic visuals. I started in highschool when I was publicist for ARK Club(Acts of Random Kindness) and I've continued to take on leadership roles that relate to graphic design such as being publicity chair for VSA and Media Director for Akbayan.  </span>
                    </div>
                </div>

                <div class="ui card">
                    <a class="content">
                        <div class="center header"> <i class="huge camera icon"></i> <br> Content Creation </div>
                    </a>
                    <div class="extra content">
                        <span> I love social media and its ability to connect with people around the world. I started my journey in content creation when I was around 11; I would make youtube videos of my gaming. I used to vlog a lot and now I just take photos of casual hangouts for my <a href="https://www.instagram.com/geloshoots/">instagram</a> photography account.  </span>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="contact">
        <h1 class="center title"> Let's chat! </h1>
        <h2> I love meeting passionate people! If you want to chat about life, leadership, or anything, reach out! :) </h2>
        <div class="contain">
            <div class="ui four centered doubling stackable special cards">

                <div class="ui link card">
                    <a class="content" target="_blank" href="https://www.linkedin.com/in/angeloibarrola">
                        <div class="center header"> <i class="huge linkedin icon"></i> <br> Linkedin </div>
                    </a>
                    <div class="extra content">
                        <span> in/angeloibarrola </span>
                    </div>
                </div>

                <div class="ui link card">
                    <a class="content" target="_blank" href="mailto:1105vino@gmail.com">
                        <div class="center header"> <i class="huge mail icon"></i> <br> Email </div>
                    </a>
                    <div class="extra content">
                        <span> 1105vino@gmail.com </span>
                    </div>
                </div>

                <!-- <div class="ui link card">
                    <div class="content">
                        <div class="center header"> <i class="huge phone icon"></i> <br> Phone </div>
                    </div>
                    <div class="extra content">
                        <span> (408) 207-5669 </span>
                    </div>
                </div> -->

                <div class="ui link card">
                    <a class="content" target="_blank" href="https://www.instagram.com/ange.lol/">
                        <div class="center header"> <i class="huge instagram icon"></i> <br> Instagram </div>
                    </a>
                    <div class="extra content">
                        <span> ange.lol </span>
                    </div>
                </div>

            </div>
        </div>
    </section>
    



    <section id="footer">
        <h2 class="center"> made with lots of code and love <br> © Angelo Ibarrola 2021</h2>
    </section>


</div>


<%- include ("partials/footer") %>
