<%- include ("partials/header") %>

<div class="ui grid">

    <div class="column centered row">
        <div class="contain15">
            <h1> SASE Industrial Chair 2020 - Present</h1>
        </div>
    </div>

    <div class="ui divider"></div>


    <div class="column centered row">
        <div class="contain15">
            <h1 class="center"> SJSU VSA President 2019-2020</h1>
            <img class="ui centered massive image" src="images/leader/vsa.jpg">
            <h3> My vision included setting up a space to allow leaders to grow, building a stronger foundation for this organization, strengthening cabinet relations, and promoting the Vietnamese culture and traditions. </h3>

        </div>
    </div>

    <div class="ui divider"></div>


    <div class="column centered row">
        <div class="contain15">
            <h1> Akbayan Synergy Intern 2018-2019</h1>
            <img class="ui centered massive image" src="images/leader/synergy.jpeg">
            <h3> Fostering Brilliance Through Collaboration </h3> 
        </div>
    </div>
</div>

<%- include ("partials/footer") %>
 
