<%- include ("partials/header") %>

<div class="ui grid">
    <div class="column centered row">
        <div class="ui contain5">
            <h1> SASE Industrial Chair 2020 - Present</h1>
        </div>
    </div>

    <div class="ui leaderSection contain6">
    <a href="/leader/vsa">
        <div class="ui two column grid">
          <div class="five wide column">
            <h1>VSA President</h1>
            <h3> My vision included setting up a space to allow leaders to grow, building a stronger foundation for this organization, strengthening cabinet relations, and promoting the Vietnamese culture and traditions. </h3>
          </div>
          <div class="one wide column">
            <img class="logo" src="images/leader/vsalogo.png">
          </div>
          <div class="ten wide column">
            <img class="ui centered fluid rounded image" src="images/leader/vsa.jpg">
          </div>
        </div>
    </a>
    </div>


    <div class="ui leaderSection contain6">
    <a href="/leader/synergy">
        <div class="ui two column grid">
          <div class="five wide column">
            <h1> Akbayan Synergy Intern</h1>
            <h3> Fostering Brilliance Through Collaboration </h3>
          </div>
          <div class="one wide column">
              <img class="logo" src="images/leader/aklogo.png">
          </div>
          <div class="ten wide column">
            <img class="leaderThumb ui centered fluid rounded image" src="images/leader/synergy.jpg">
          </div>
        </div>
    </a>
    </div>

<%- include ("partials/footer") %>
 
