<%- include ("partials/header") %>

<div class="ui grid">
    <div class="column centered row">
        <div class="ui contain5">
            <h1> SASE Industrial Chair 2020 - Present</h1>
        </div>
    </div>

    <div class="ui leaderSection contain6" onclick="window.location.href = '/leader/vsa';">
        <div class="ui two column grid">
          <div class="five wide column">
            <h1>VSA President</h1>
            <h3> My vision included developing strong leaders, building a stronger foundation, and strengthening cabinet relations</h3>
            <h4 class="leaderLinks"> <a href="https://www.youtube.com/watch?v=jEy7ozO33rw&t=15s"><i class="youtube icon"></i> Avengers Cab recap video 19-20</a></h4>
            <h4 class="leaderLinks"> <a href="https://www.youtube.com/watch?v=gjMOWNqX7m8"><i class="youtube icon"></i> PokeCab recap video 18-19</a></h4>
            <h4 class="leaderLinks"> <a href="https://www.youtube.com/watch?v=X-WXL_Hsgac"><i class="youtube icon"></i> Ikea Cabinet recap video 17-18</a></h4>
            <h4 class="leaderLinks"> <a href="https://www.flickr.com/photos/sjsuvsa/albums/with/72157712283932502"><i class="camera icon"></i> All VSA Photos</a></h4>   
          </div>
          <div class="one wide column">
            <img class="logo" src="images/leader/vsalogo.png">
          </div>
          <div class="ten wide column">
            <img class="ui centered fluid rounded image" src="images/leader/vsa.jpg">
          </div>
        </div>
    </div>


    <div class="ui leaderSection contain6" onclick="window.location.href = '#';">
        <div class="ui two column grid">
          <div class="five wide column">
            <h1> Akbayan Synergy Intern</h1>
            <h3> Fostering Brilliance Through Collaboration </h3>
            <h4><a href="https://www.flickr.com/photos/akbayansjsu/albums/72157678262908287"><i class="camera icon"></i> End of the Year Banquet photos</a></h4>
            <h4><a href="https://www.flickr.com/photos/akbayansjsu/albums/72157708026726894"><i class="camera icon"></i> Philippine Diaspora workshop photos</a></h4>
            <h4><a href="https://www.flickr.com/photos/akbayansjsu/albums/72157691003317843"><i class="camera icon"></i> AK Amazing Race photos</a></h4> 

          </div>
          <div class="one wide column">
              <img class="logo" src="images/leader/aklogo.png">
          </div>
          <div class="ten wide column">
            <img class="leaderThumb ui centered fluid rounded image" src="images/leader/synergy.jpg">
          </div>
        </div>
    </div>

<%- include ("partials/footer") %>
 
