<%- include ("partials/header") %>
<div class="ui grid">
        <div class="fourteen wide centered column">


            <div class="ui three stackable link special cards">

                <div class="card">
                    <div class="image">
                        <img src="/images/projects/flushfinder.png">
                    </div>
                <div class="content">
                    <span class="right floated"> June 2020 </span>
                    <div class="header"> Flush Finder </div>
                    <div class="meta"> <a>Node.js • Express • MongoDB </a> </div>

                </div>
                <div class="extra content">
                    <span><i class="user icon"></i> Personal </span>
                    <a class="right floated" target="_blank" href="https://github.com/aibarrola/FlushFinder"> <i class="large github icon"></i> </a>
                </div>
            </div>

                <div class="card">
                    <div class="image">
                        <img src="/images/projects/yelp.jpg">
                    </div>
                <div class="content">
                    <span class="right floated"> June 2020 </span>
                    <div class="header"> YelpCamp </div>
                    <div class="meta"> <a>Node.js • Express • MongoDB </a> </div>

                </div>
                <div class="extra content">
                    <span><i class="user icon"></i> Personal </span>
                    <a class="right floated" target="_blank" href="https://github.com/aibarrola/YelpCamp"> <i class="large github icon"></i> </a>
                </div>
            </div>


                <div class="card">
                        <a class="image" href="projects/affirmation">
                            <img src="/images/projects/affirmation.png">
                        </a>
                    <div class="content">
                        <span class="right floated"> May 2020 </span>
                        <div class="header"> Affirmation Messenger </div>
                        <div class="meta"> <a>Python • Flask • Heroku Postgres</a> </div>

                    </div>
                    <div class="extra content">
                        <span><i class="user icon"></i> Personal  </span>
                        <a class="right floated" target="_blank" href="https://github.com/aibarrola/AffirmationMessenger"> <i class="large github icon"></i> </a>
                    </div>
                </div>
        

                <div class="card">
                    <a class="image" href="projects/pairingtool">
                        <img src="/images/projects/top5bigs.png">
                    </a>
                    <div class="content">
                        <span class="right floated"> May 2020 </span>
                        <div class="header">Mentorship Pairing Tool</div>
                        <div class="meta"> <a>Python • Flask • Google Drive API </a> </div>
                    </div>
                    <div class="extra content">
                        <span> <i class="user icon"> </i> <i class="user icon"> </i> Partner </span>
                        <a class="right floated" target="_blank" href="https://github.com/aibarrola/MentorshipPairingTool"> <i class="large github icon"></i> </a>
                    </div>
                </div>


                <div class="card">
                    <a class="image" href="projects/schedulemaster">
                        <img src="/images/projects/schedulemaster.png">
                    </a>
                    <div class="content">
                        <span class="right floated"> April 2020 </span>
                        <div class="header"> Schedule Master </div>
                        <div class="meta"> <a>Python • Flask • SQLAlchemy</a> </div>                    
                    </div>
                    <div class="extra content">
                        <span> <i class="user icon"></i> <i class="user icon"> </i> <i class="user icon"> </i> <i class="user icon"> </i> Group </span>
                        <a class="right floated" target="_blank" href="https://github.com/aibarrola/Schedule-Master"> <i class="large github icon"></i> </a>
                    </div>
                </div>


                <div class="card">
                    <div class="image">
                        <img src="/images/projects/adventure.png">
                    </div>
                    <div class="content">
                        <span class="right floated"> March 2020 </span>
                        <div class="header"> Coronavirus Adventure Game </div>
                        <div class="meta"> <a> HTML • CSS </a> </div>
                    </div>
                    <div class="extra content">
                        <span> <i class="user icon"></i> Personal </span>
                        <a class="right floated" target="_blank" href="https://github.com/aibarrola/Corona-Adventure"> <i class="large github icon"></i> </a>
                    </div>
                </div>



            </div>
        </div>
</div>


<%- include ("partials/footer") %>
