<%- include ("partials/header") %>


    <!-- <h1 class="center projectHeader"> Projects </h1> -->
    <div class="contain">
    <div class="ui three doubling stackable special cards">
        <div class="ui raised link card">
                <a class="image"  target="_blank" href="https://github.com/aibarrola/FlushFinder">
                    <img src="/images/projects/flushfinder.png">
                </a>
            <a class="content"  target="_blank" href="https://github.com/aibarrola/FlushFinder">
                <!-- <span class="right floated"> July <br> 2020 </span> -->
                <div class="header"> Flush Finder <span class="right floated"> Personal </span></div>
                <div class="meta"> Node.js • Express • MongoDB </div>

            </a>
            <div class="extra content">
                <span><i class="user icon"></i> </span>
                <a class="right floated" target="_blank" href="https://github.com/aibarrola/FlushFinder"> <i class="large github icon"></i> </a>
            </div>
        </div>

        <div class="ui raised link card">
                <a class="image" href="projects/yelpcamp">
                    <img src="/images/projects/yelp.jpg">
                </a>
            <a class="content" href="projects/yelpcamp">
                <!-- <span class="right floated"> June <br> 2020 </span> -->
                <div class="header"> YelpCamp <span class="right floated"> Personal </span></div>
                <div class="meta"> Node.js • Express • MongoDB </div>

            </a>
            <div class="extra content">
                <span><i class="user icon"></i> </span>
                <a class="right floated" target="_blank" href="https://yelp-camp-05.herokuapp.com/"> <i class="large external alternate icon"></i></a>
                <a class="right floated" target="_blank" href="https://github.com/aibarrola/YelpCamp"> <i class="large github icon"></i> </a>

            </div>
        </div>


        <div class="ui raised link card">
                <a class="image" href="projects/affirmation">
                    <img src="/images/projects/affirmation.png">
                </a>
                
            <a class="content" href="projects/affirmation">
                <!-- <span class="right floated"> May <br> 2020 </span> -->
                <div class="header"> Affirmation Messenger <span class="right floated"> Personal </span></div>
                <div class="meta"> Python • Flask • Heroku Postgres </div>

            </a>
            <div class="extra content">
                <span><i class="user icon"></i> </span>
                <a class="right floated" target="_blank" href="https://affirmationonline.herokuapp.com/"> <i class="large external alternate icon"></i></a>
                <a class="right floated" target="_blank" href="https://github.com/aibarrola/AffirmationMessenger"> <i class="large github icon"></i> </a>
            </div>
        </div>


        <div class="ui raised link card">
            <a class="image" href="projects/pairingtool">
                <img src="/images/projects/top5bigs.png">
            </a>
            <a class="content" href="projects/pairingtool">
                <!-- <span class="right floated"> May <br> 2020 </span> -->
                <div class="header">Mentorship Pairing Tool<span class="right floated"> Class </span></div>
                <div class="meta"> Python • Flask • Google Drive API </div>
            </a>
            <div class="extra content">
                <span> <i class="user icon"> </i> <i class="user icon"> </i> </span>
                <a class="right floated" target="_blank" href="https://github.com/aibarrola/MentorshipPairingTool"> <i class="large github icon"></i> </a>
            </div>
        </div>


        <div class="ui raised link card">
            <a class="image" href="projects/schedulemaster">
                <img src="/images/projects/schedulemaster.png">
            </a>
            <a class="content" href="projects/schedulemaster">
                <!-- <span class="right floated"> April <br> 2020 </span> -->
                <div class="header"> Schedule Master <span class="right floated"> Class </span></div>
                <div class="meta"> Python • Flask • SQLAlchemy</div>                    
            </a>
            <div class="extra content">
                <span> <i class="user icon"></i> <i class="user icon"> </i> <i class="user icon"> </i> <i class="user icon"> </i></span>
                <a class="right floated" target="_blank" href="https://cmpe131-team7.herokuapp.com/home"> <i class="large external alternate icon"></i></a>
                <a class="right floated" target="_blank" href="https://github.com/aibarrola/Schedule-Master"> <i class="large github icon"></i> </a>
            </div>
        </div>


        <div class="ui raised link card">
            <a class="image" href="projects/coronaAdventure">
                <img src="/images/projects/adventure.png">
            </a>
            <a class="content" href="projects/coronaAdventure">
                <!-- <span class="right floated"> March <br> 2020 </span> -->
                <div class="header"> Coronavirus Adventure <span class="right floated"> Personal </span></div>
                <div class="meta">  HTML • CSS • Javascript</div>
            </a>
            <div class="extra content">
                <span> <i class="user icon"></i>  </span>
                <a class="right floated" target="_blank" href="https://aibarrola.github.io/Corona-Adventure/"> <i class="large external alternate icon"></i></a>
                <a class="right floated" target="_blank" href="https://github.com/aibarrola/Corona-Adventure"> <i class="large github icon"></i> </a>
            </div>
        </div>

        <div class="ui raised link card">
            <a class="image" target="_blank" href="https://movie-finder-05.herokuapp.com/">
                <img src="/images/projects/moviefinder.jpg">
            </a>
            <a class="content" href="projects/schedulemaster">
                <!-- <span class="right floated"> Feb <br> 2020 </span> -->
                <div class="header"> Movie Finder <span class="right floated"> Personal </span></div> 
                <div class="meta"> Node.js • Express • OMDb API </div>                    
            </a>
            <div class="extra content">
                <span> <i class="user icon"></i></span>
                <a class="right floated" target="_blank" href="https://movie-finder-05.herokuapp.com/"> <i class="large external alternate icon"></i></a>
                <a class="right floated" target="_blank" href="https://github.com/aibarrola/MovieFinder"> <i class="large github icon"></i> </a>
            </div>
        </div>

    </div>
    </div>

    <%- include ("partials/footer") %>
