<%- include ("partials/header") %>
<div class="ui grid">
        <div class="fourteen wide centered column">


            <div class="ui two stackable link special cards">


                <div class="card">
                        <div class="image">
                            <img src="/images/affirmation.png">
                        </div>
                    <div class="content">
                        <div class="right floated meta"> <a>Python | Flask | Heroku Postgres</a> </div>
                        <div class="header"> Affirmation Messenger </div>
                        <div class="description"> Allow VSA members to virtually send affirmations to each other and write anonymous confessions. </div>
                    </div>
                    <div class="extra content">
                        <span class="right floated"> May 2020 </span>
                        <span><i class="user icon"></i> Personal  </span>
                    </div>
                </div>
        

                <div class="card">
                    <div class="image">
                        <img src="/images/top5bigs.png">
                    </div>
                    <div class="content">
                        <div class="right floated meta"> <a>Python | Flask | Google Drive API </a> </div>
                        <div class="header">Mentorship Pairing Tool</div>
                        <div class="description"> Allows pairing committee members to efficiently pair big and littles based on interest. </div>
                    </div>
                    <div class="extra content">
                        <span class="right floated"> May 2020 </span>
                        <span> <i class="user icon"> </i> <i class="user icon"> </i> Partner </span>
                    </div>
                </div>


                <div class="card">
                    <div class="image">
                        <img src="/images/schedulemaster.png">
                    </div>
                    <div class="content">
                        <div class="right floated meta"> <a>Python | Flask | SQLAlchemy</a> </div>                    
                        <div class="header"> Schedule Master </div>
                        <div class="description"> Created a digital calendar that useful for allowing multiple users to add, delete, and modify non-overlapping events. </div>
                    </div>
                    <div class="extra content">
                        <span class="right floated"> April 2020 </span>
                        <span> <i class="user icon"></i> <i class="user icon"> </i> <i class="user icon"> </i> <i class="user icon"> </i> Group </span>
                    </div>
                </div>


                <div class="card">
                    <div class="image">
                        <img src="/images/adventure.png">
                    </div>
                    <div class="content">
                        <div class="right floated meta"> <a> HTML | CSS </a> </div>
                        <div class="header"> Coronavirus Adventure Game </div>
                        <div class="description"> Created a choose your own adventure website for my VSA family during the time of quarantine to keep them entertained at home! </div>
                    </div>
                    <div class="extra content">
                        <span class="right floated"> March 2020 </span>
                        <span> <i class="user icon"></i> Personal </span>
                    </div>
                </div>



            </div>
        </div>
</div>


<%- include ("partials/footer") %>
