<%- include ("partials/header") %>
<div class="ui grid container">
    <div class="ui three doubling stackable link special cards">
        

        <div class="card">
                <div class="image">
                    <img src="/images/projects/flushfinder.png">
                </div>
            <div class="content">
                <span class="right floated"> In-progress </span>
                <div class="header"> Flush Finder </div>
                <div class="meta"> Node.js • Express • MongoDB </div>

            </div>
            <div class="extra content">
                <span><i class="user icon"></i> Personal </span>
                <a class="right floated" target="_blank" href="https://github.com/aibarrola/FlushFinder"> <i class="large github icon"></i> </a>
            </div>
        </div>

        <div class="card">
                <a class="image" href="projects/yelpcamp">
                    <img src="/images/projects/yelp.jpg">
                </a>
            <a class="content" href="projects/yelpcamp">
                <span class="right floated"> June 2020 </span>
                <div class="header"> YelpCamp </div>
                <div class="meta"> Node.js • Express • MongoDB </div>

            </a>
            <div class="extra content">
                <span><i class="user icon"></i> Personal </span>
                <a class="right floated" target="_blank" href="https://yelp-camp-05.herokuapp.com/"> <i class="large external alternate icon"></i></a>
                <a class="right floated" target="_blank" href="https://github.com/aibarrola/YelpCamp"> <i class="large github icon"></i> </a>

            </div>
        </div>


        <div class="card">
                <a class="image" href="projects/affirmation">
                    <img src="/images/projects/affirmation.png">
                </a>
                
            <a class="content" href="projects/affirmation">
                <span class="right floated"> May 2020 </span>
                <div class="header"> Affirmation Messenger </div>
                <div class="meta"> Python • Flask • Heroku Postgres </div>

            </a>
            <div class="extra content">
                <span><i class="user icon"></i> Personal  </span>
                <a class="right floated" target="_blank" href="https://affirmationonline.herokuapp.com/"> <i class="large external alternate icon"></i></a>
                <a class="right floated" target="_blank" href="https://github.com/aibarrola/AffirmationMessenger"> <i class="large github icon"></i> </a>
            </div>
        </div>
    

        <div class="card">
            <a class="image" href="projects/pairingtool">
                <img src="/images/projects/top5bigs.png">
            </a>
            <a class="content" href="projects/pairingtool">
                <span class="right floated"> May 2020 </span>
                <div class="header">Mentorship Pairing Tool</div>
                <div class="meta"> Python • Flask • Google Drive API </div>
            </a>
            <div class="extra content">
                <span> <i class="user icon"> </i> <i class="user icon"> </i> Partner </span>
                <a class="right floated" target="_blank" href="https://github.com/aibarrola/MentorshipPairingTool"> <i class="large github icon"></i> </a>
            </div>
        </div>


        <div class="card">
            <a class="image" href="projects/schedulemaster">
                <img src="/images/projects/schedulemaster.png">
            </a>
            <a class="content" href="projects/schedulemaster">
                <span class="right floated"> April 2020 </span>
                <div class="header"> Schedule Master </div>
                <div class="meta"> Python • Flask • SQLAlchemy</div>                    
            </a>
            <div class="extra content">
                <span> <i class="user icon"></i> <i class="user icon"> </i> <i class="user icon"> </i> <i class="user icon"> </i> Group </span>
                <a class="right floated" target="_blank" href="https://cmpe131-team7.herokuapp.com/home"> <i class="large external alternate icon"></i></a>
                <a class="right floated" target="_blank" href="https://github.com/aibarrola/Schedule-Master"> <i class="large github icon"></i> </a>
            </div>
        </div>


        <div class="card">
            <a class="image" href="projects/coronaAdventure">
                <img src="/images/projects/adventure.png">
            </a>
            <a class="content" href="projects/coronaAdventure">
                <span class="right floated"> March 2020 </span>
                <div class="header"> Coronavirus Adventure Game </div>
                <div class="meta">  HTML • CSS</div>
            </a>
            <div class="extra content">
                <span> <i class="user icon"></i> Personal </span>
                <a class="right floated" target="_blank" href="https://aibarrola.github.io/Corona-Adventure/"> <i class="large external alternate icon"></i></a>
                <a class="right floated" target="_blank" href="https://github.com/aibarrola/Corona-Adventure"> <i class="large github icon"></i> </a>
            </div>
        </div>


    </div>
</div>


<%- include ("partials/footer") %>
