/* ___________GENERAL STYLES___________ */

body{
    background-color: #EFF1F3;
}

html{
    scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,a,i{
    color: #0a2342;
}

/* all icons that in an item */
.item:hover i{
    color:#BA2D0B;
}

/* all icons that is a link */
a i:hover{
    color: #BA2D0B;
}

/* all links */
a:hover{
    color: #0a2342;
}

/* all inverted and circular icons  */
i.inverted.bordered.icon, i.inverted.circular.icon {
    background-color: #0a2342!important;
}


/* _____MENU AND NAVBAR______ */

/* top navbar items */
.ui.menu .item{
    color: #0a2342;
}

/* vertical icon menu */
.ui.vertical.menu .item{
    color: #0a2342;
}


/*____________UTILITIES________________ */
.contain15{
    margin-left: 15%;
    margin-right:15%;
}

.contain5{
    margin-left: 5%;
    margin-right: 5%;
}

.center{
    text-align:center;
}


/*____________SPECIFICS________________ */

#MyName{
 /* font-size: 3vw; */
 font-size: 40px;
 color: #0a2342;
}

#mycontainer{
    margin-left:3%;
    margin-right:3%;
}

#myMenuContainer{
    margin-left: 3%;
    margin-right: 3%;
}

#volleyball{
    margin-bottom:10%;
}
/* ________PROJECT PAGE_______  */

/* PROJECT TITLE */
.ui.card>.content>.header, .ui.cards>.card>.content>.header {
    color: #0a2342;
}

/* PROJECT TECH DESCRIPTIONS */
.ui.card .meta, .ui.cards>.card .meta {
    color: #BA2D0B;
}

/* PROJECT CARD BACKGROUND */
.ui.card>.content, .ui.cards>.card>.content{
    background-color: white;
}


/* ____________PROJECTS STYLING___________ */

.projectHeader{
    font-size:2.5vw;
}


/* ________ABOUT PAGE STYLING______ */
.about{
    margin-top: 15%;
    padding-bottom: 25%;
}