/* ___________GENERAL STYLES___________ */
body {
  background-color: #589bee;
  font-family: 'Poppins', sans-serif; }

html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px; }

h1, h2, h3, h4, h5, a {
  color: #fff; }

i {
  color: #2f3046; }

ul {
  list-style-type: none;
  padding: 0px;
  color: #fff;
  font-size: 17px; }

li {
  margin-bottom: 13px;
  margin-left: 10px; }

/* all icons that in an item */
.item:hover i {
  color: #589bee; }

/* all icons that is a link */
a i:hover {
  color: #589bee; }

a {
  text-decoration: none; }

/* all links */
a:hover {
  color: #589bee; }

a span {
  padding-top: 0;
  margin-top: 0;
  color: #589bee;
  font-weight: 300;
 }

a:hover span {
  color: #589bee;
}

/* all inverted and circular icons  */
i.inverted.bordered.icon, i.inverted.circular.icon {
  background-color: #589bee !important; }

/* _____MENU AND NAVBAR______ */
.ui.secondary.menu .item {
  color: #fff;
  text-decoration: none;
  position: relative;
  transition: all 500ms; }

.ui.secondary.menu .dropdown.item:hover, .ui.secondary.menu .link.item:hover, .ui.secondary.menu a.item:hover {
  background-color: transparent;
  color: white;
  font-size: 1.3rem; }

/*____________UTILITIES________________ */
.center {
  text-align: center; }

.centerVid {
  text-align: center;
  margin: 0 auto;
  width: 50%; }

.contain {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 1%; }

.contain15 {
  margin-left: 15%;
  margin-right: 15%; }

.br1 {
  margin-top: 1.5%; }

/* for all external link */
.links {
  text-decoration: underline;
  color: white;
 }

.links:hover {
  color: #e6edf5;
  text-decoration: underline; }

/*____________SPECIFICS________________ */
#MyName {
  /* font-size: 3vw; */
  font-size: 40px;
  color: #fff; }

#navbar {
  background-color: #589bee;
  margin-left: 5%;
  margin-right: 5%; }

@media screen and (max-width: 770px) {
  #navbar {
    display: none; } }

#splash {
  padding-top: 5%;
  background-color: transparent;
  height: 100%;
  width: 100%;
  padding-bottom: 3%;
  margin-left: 8%;
  margin-right: 8%; }

#splash #overlay {
  position: absolute;
  width: 38%;
  height: 150%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .1;
  background-color: white;
  /* Black background with opacity */
  z-index: 1;
  /* Specify a stack order in case you're using a different order for other elements */ }

#splash .splash-desc {
  margin-top: 10%;
  margin-left: 30%;
  font-size: 130%; }

#splash h1 {
  margin-top: 10%;
  font-size: 4em; }

@media screen and (max-width: 600px) {
  #splash .splash-desc {
    font-size: 100%; } }

#splash .mouse {
  width: 100%;
  height: 50%;
  padding-top: 10%;
  padding-bottom: 0;
  text-align: center; }

#splash .mouse i {
  color: #fff;
  animation: slide1 1s ease-in-out infinite;
  margin-left: 9px; }

@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, 0); }
  50% {
    transform: translate(0, -10px); } }

#splash .wordCarousel {
  width: 100%;
  padding-top: 17%;
  padding-right: 20%;
  font-size: 36px;
  font-weight: 100;
  color: #939393; }

#splash .wordCarousel div {
  overflow: hidden;
  position: relative;
  float: right;
  height: 65px;
  padding-top: 10px;
  margin-top: -10px; }

#splash .wordCarousel div li {
  color: #fff;
  font-size: 4.5vw;
  font-weight: 600;
  padding: 0 10px;
  height: 45px;
  margin-bottom: 40px;
  display: block; }

@media screen and (min-width: 1700px) {
  #splash .wordCaraousel {
    font-size: 30px; } }

#splash .flip2 {
  animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }

#splash .flip3 {
  animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }

#splash .flip4 {
  animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }

@keyframes flip2 {
  0% {
    margin-top: -180px; }
  5% {
    margin-top: -90px; }
  50% {
    margin-top: -90px; }
  55% {
    margin-top: 0px; }
  99.99% {
    margin-top: 0px; }
  100% {
    margin-top: -270px; } }

@keyframes flip3 {
  0% {
    margin-top: -270px; }
  5% {
    margin-top: -180px; }
  33% {
    margin-top: -180px; }
  38% {
    margin-top: -90px; }
  66% {
    margin-top: -90px; }
  71% {
    margin-top: 0px; }
  99.99% {
    margin-top: 0px; }
  100% {
    margin-top: -270px; } }

@keyframes flip4 {
  0% {
    margin-top: -360px; }
  5% {
    margin-top: -270px; }
  25% {
    margin-top: -270px; }
  30% {
    margin-top: -180px; }
  50% {
    margin-top: -180px; }
  55% {
    margin-top: -90px; }
  75% {
    margin-top: -90px; }
  80% {
    margin-top: 0px; }
  99.99% {
    margin-top: 0px; }
  100% {
    margin-top: -270px; } }

#project {
  width: 100%;
  background-color: #fff;
  padding-top: 7%;
  padding-bottom: 8%; }

  .projectHeader{
    font-size: 3.5rem;
}

#project .contain {
  margin-left: 10%;
  margin-right: 10%; }

#project .title {
  font-size: 3.5rem;
  color: black; }

.leadership{
    margin-top: 10%;
}

#project .meta {
  color: #8899AE; }

#project .extra {
  color: #2f3046; }

#project i {
  color: #2f3046; }

#project i:hover {
  color: black; }

#project a {
  color: #2f3046; }

#project .centered-container {
  margin-top: 2%;
  background-color: #fff;
  display: inline-flex;
  padding: 1rem;
  border-radius: .125rem;
  border: 1px solid #D4D4D5;
  box-shadow: 0 1px 3px 0 #d4d4d5; }

#project .link {
  color: black;
  cursor: pointer;
  font-weight: 400;
  text-decoration: none; }

#project .link--arrowed {
  display: inline-block;
  height: 2rem;
  line-height: 2rem;
  font-size: 1.5rem; }

#project .link--arrowed .arrow-icon {
  position: relative;
  top: -1px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  vertical-align: middle; }

#project .link--arrowed .arrow-icon--circle {
  transition: stroke-dashoffset .3s ease;
  stroke-dasharray: 95;
  stroke-dashoffset: 95; }

#project .link--arrowed:hover .arrow-icon {
  transform: translate3d(5px, 0, 0); }

#project .link--arrowed:hover .arrow-icon--circle {
  stroke-dashoffset: 0; }

#experience {
  z-index: 10;
  padding-top: 7%;
  width: 100%;
  padding-bottom: 8%;
  background-color: #e6edf5; }

#experience .title {
  font-size: 3.5rem;
  color: #2f3046; }

#experience .title2 {
  color: #2f3046; }

#experience h1, #experience h4, #experience i {
  color: #2f3046; }

#experience .card {
  border: none; }

#experience .header {
  color: #2f3046;
  padding: 5px; }

#experience .content {
  background-color: #e6edf5; }

#experience .meta {
  color: #8899AE;
  padding: 5px; }

#experience .one.wide.column {
  padding: 0; }

#experience .exp-logo {
  height: 60%;
  width: auto; }

#experience .three.wide.column {
  padding: 0; }

#about {
  padding-bottom: 3%;
  padding-top: 10%;
  background-color: #fff; }

#about .title {
  font-size: 3.5rem;
  color: black; }

#about .contain {
  margin: 2% 10%; }

#about h2 {
  font-size: 1.3rem; }

#about h2, #about a {
  color: #8899AE; }

#about a:hover {
  color: #2f3046; }

#about i:hover {
  color: black; }

#contact {
  text-align: center;
  background-color: #fff;
  padding: 15% 0;
  width: 100%; }

#contact .contain {
  margin: 0 20%; }

#contact .title {
  font-size: 3.5rem;
  color: black; }

#contact h2 {
  color: #8899AE;
  font-size: 1.3rem; }

#contact .header {
  color: #8899AE; }

#contact .extra {
  color: #2f3046; }

#contact i {
  color: #2f3046; }

#contact i:hover {
  color: #2f3046; }

#contact .content {
  background-color: transparent; }

#contact .content:hover .header {
  color: #2f3046; }

#footer {
  background-color: #e6edf5;
  padding-top: 1%;
  padding-bottom: 1%;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;}

#footer h2 {
  font-size: 1.1rem;
  color: #2f3046;
  z-index: 3; }

/* ________PROJECT CARDS_______  */
/* PROJECT TITLE */
.ui.card > .content > .header, .ui.cards > .card > .content > .header {
  color: black; }

/* PROJECT TECH DESCRIPTIONS */
.ui.card .meta, .ui.cards > .card .meta {
  color: #2f3046; }

/* PROJECT CARD BACKGROUND */
.ui.card > .content, .ui.cards > .card > .content {
  background-color: #fff; }

@media only screen and (max-width: 600px) {
  .ui.three.doubling.cards > .card {
    width: 100%; } }

/* ____________PROJECTS STYLING___________ */
.projectSection {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-radius: 10px; }

.projectSection:hover {
  box-shadow: 1px 1px 5px #888888; }

  /* ______EXPERIENCE STYLING______ */
.experienceSection{
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  margin: 1% 0;
  width: 35%;
  height: auto;
  display: inline-block; 
}
.experienceSection:hover{
    box-shadow: 1px 1px 5px #888888;
}

@media screen and (max-width: 1500px) {
    .experienceSection {
      width: 40%;
      margin: 10px auto; } }
  
  @media screen and (max-width: 900px) {
      .experienceSection {
          width: 45%;
          margin: 10px auto; } }
  

/* ______LEADERSHIP STYLING______ */
.leaderSections {
  margin-bottom: 10px;
  margin-left: 2%;
  margin-right: 2%; }

.leaderSections h1 {
  color: #2f3046;
  font-size: 1.2em;
  margin-bottom: 0; }

.leaderSections h3 {
  color: #8899AE;
  font-size: 1em;
  margin-top: 0; }

.leaderSection {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  margin: 1% 0;
  width: 51%;
  height: auto;
  display: inline-block; }

@media screen and (max-width: 1500px) {
  .leaderSection {
    width: 60%;
    margin: 10px auto; } }

@media screen and (max-width: 900px) {
    .leaderSection {
        width: 80%;
        margin: 10px auto; } }

.leaderSection:hover {
  box-shadow: 1px 1px 5px #888888; }

.logo {
  height: auto;
  width: 100%;
  padding-top: 30%; }

h4 {
  font-size: 1em; }

h4 > a {
  color: #2f3046; }

h4 > a:hover {
  color: black; }

/* VSA PAGE*/
#vsa {
  letter-spacing: 9px;
  font-size: 65px; }

#president {
  text-align: center;
  writing-mode: vertical-rl;
  letter-spacing: 45px;
  font-size: 65px;
  height: 100%; }

#president > a:hover {
  color: #589bee; }

#publicity {
  text-align: center;
  writing-mode: vertical-rl;
  letter-spacing: 35px;
  font-size: 65px;
  height: 100%; }

#publicity > a:hover {
  color: #589bee; }

#intern {
  text-align: center;
  writing-mode: vertical-rl;
  letter-spacing: 15px;
  font-size: 65px; }

#intern > a:hover {
  color: #589bee; }

.vsaSection {
  background-color: #D6DBB2; }

.presidentSection {
  background-color: #6D98BA; }

.presidentSection a:hover {
  color: #2f3046; }

.publicitySection {
  background-color: #FFBCB5; }

.internSection {
  background-color: #b8e1ff; }
