<%- include ("../partials/header") %>


<div class="ui grid">

<div class="sixteen wide centered column vsaSection row">
    <h1 id="vsa"> Vietnamese Student Association </h1>
</div>


<div class="presidentSection row">
    <div class="three centered wide column">
    </div>
    <div class="ten wide column">
        <h2> Summer </h2>
        <ul>
            <li>First 3 day, 2-night retreat to bond and learn from predecessors through workshops</li>
            <li>First Summer event at SRAC</li>
            <li>Won Scholarship award at SoCal Camp</li>
        </ul>
        <h2> Fall </h2>
        <ul>
            <li>Weekly cabinet meetings, general meetings, and socials. 12 general meetings total</li>
            <li>Over 400 members, 150 members average every meeting</li>
            <li>Highest number of applicants in ACE program: 97 bigs, 144 littles</li>
            <li>Biggest turnout at first general meeting: 250+ </li>
            <li>Hosted 4 bigs events: Luau, Friendsgiving, ACE Reveal, and Winter Formal</li>
            <li> <a href="https://www.youtube.com/watch?v=xo2DheJDjvI&t=4s" target="_blank">Avenger themed Cabinet intro video </a></li>
            <li>Attended UC Berkeley, UC David, and SCU's first general meeting</li>
            <li>Tabled at the International Hoes for Mid Autumn Festival event</li>
            <li>70+ students registered to vote through tabling and class presentations</li>
            <li>New meeting setup for 4th GM to focus on social pillar</li>
            <li>Socials with other VSA including: SCU, Stanford, UC Berkeley, SFSU, and UC Davis</li>
            <li>250+ hours of volunteering in the community from our members</li>
            <li>Volunteered at  Eastridge Moon Festival, VACC Tet Trung Thu, and Mid-Autumn Youth Summit. </li>
            <li>Initiated a 1 minute coin drive which raised $300 for our Philantrophy</li>
            <li>First social with AKDPHI to connect with other organizations within SJSU community</li>
            <li>Friendsgiving with 60+ donations for two charity groups: winter clothes and hygienic products</li>
            <li>Most pledge cards signed to support nail salon workers and the movement</li>
            <li>Biggest turnout at NorCal Summit with 70+ participants</li>
            <li>Attended SoCal events such as Rose Pageant and Pho King</li>
            <li>Put together care packages for holidays with EM Collective</li>
        </ul>
        <h2> Spring</h2> 
        <ul>
            <li>Internship program</li>
            <li>ACE has 102 littles signed up with 81 pairings</li>
            <li>Had 4 in-person general meetings before shelter-in-place </li>
            <li>Census guest speaker at our 4th general meeting</li>
            <li>Continued weekly meetings over Zoom with a total of 5 Zoom meetings</li>
            <li>First Minecraft server to connect gamers</li>
            <li>First gaming tournament: League of Legends, Tetris, and Smash</li>
            <li>Promoted resources for Black Lives Matter and COVID-19</li>
            <li>First sticker contest</li>
            <li>Pet Study Buddy thread to share study tips</li>
            <li>80+ attendance at First Online End of the Year Banquet</li>
        </ul>

    </div>
    <div class="three wide column">
        <h1 id="president">PRESIDENT 19-20</h1>
    </div>
</div>

<div class="publicitySection row">
    <div class="three wide column">

    </div>
    <div class="ten wide column">
        <h2> Summer </h2>
        <ul>
            <li>First VGN and ICAN Google Campus Tour</li>
            <li>Attended NorCal UVSA Camp</li> 
        </ul>
        <h2> Fall </h2>
        <ul>
            <li>Biggest turnout at our first general meeting: 150+</li>
            <li>Highest number of applicants in ACE program: 106 littles and 69 bigs</li>
            <li>Increased campus presence by tabling more often</li> 
            <li>100+ students registered to vote through tabling and class presentations</li>
            <li>Pokemon themed Cabinet intro video</li>
            <li>First time VSA performing at Fire in the Fountain</li> 
            <li>Started Humans of VSA to allow our members to share their stories</li>
            <li>Property instituted membership fee</li> 
            <li>Increased instagram stories to showcase meetings and events</li>
            <li>Strengthened family system by implementing 1on1 with Family Heads and Family Head contracts</li>
           
        </ul>
        <h2> Spring</h2> 
        <ul>
            <li>More structured Internship program</li>
            <li>First Internship retreat filled with bonding activities and leadership workshops</li> 
            <li>82 littles and 50 bigs signed up for ACE</li>
            <li>Strengthened cabinet relations by implementing cabinet dates</li>
            <li>Created official VSA banner & improvede tabling set-up</li>
            <li>Biggest olympics turnout: 150+</li>
            <li>Created volleyball community to play every week</li>
            <li>First time VSA performing at Shamrock Showcase</li> 
            <li>431/450 tickets sold for Culture Show of 100+ participants</li>
            <li>Raised over $3000 with our one week coin drive</li>
            <li>Raised over $6000 in total for our philantrophy project: Children of Vietnam</li>
            <li>First Crowdfunding for Culture show earned $750</li> 
            <li>Started Parents of VSA to initiate conversations with parents and close the generation gap</li>
            <li>Volunteered at 44th Black April Commemoration & Exhibit</li>
            <li>Cultural Organization of the year at Spartan Student Leadership Gala</li>
            <li>Improved End of the Year Banquet</li>
            <li>First Elections Deliberations</li>
            <li>Solidified the process of speal situations during elections</li> 
            <li>Mixers with other NorCal schools</li>
        </ul>
    </div>
    <div class="three wide column">
        <h1 id="publicity"> PUBLICIST 18-19</h1>
    </div>
</div>

<div class="internSection row">
    <div class="three wide column">

    </div>
    <div class="ten wide column">
        <h2> Spring</h2> 
        <ul>
            <li>Cultural Organization of the Year at Spartan Student Leadership Gala</li>
            <li>Learned how to run an organization by attending weekly cabinet meetings</li>
            <li>Hosted first End of the Year Banquet</li>
            <li>Hosted first Alumni Networking Panel</li>
            <li>Raised $180 for our philantrophy</li>
            <li>Created VSA event pages and flyers</li>
            <li>Created Ban Be FB page to socialize with fellow members and share memories </li>
        </ul>

    
    </div>
    <div class="three wide column">
        <h1 id="intern">INTERN <br>17-18</h1>
    </div>
</div>


<div class="sixteen wide centered column vsaSection row">
    <div class="ui secondary compact massive icon menu">
        <a class="item" href="https://www.facebook.com/sanjosestatevsa/" target="_blank">
            <i class="huge facebook icon"></i>
        </a>
        <a class="item" href="https://www.instagram.com/sjsuvsa/" target="_blank">
            <i class="huge instagram icon"></i>
        </a>
        <a class="item" target="_blank" href="https://www.youtube.com/channel/UCqiIDTgK6shiqOT626u0A6g?view_as=subscriber" target="_blank">
            <i class="huge youtube icon"></i>
        </a>
        <a class="item" href="https://www.flickr.com/photos/sjsuvsa/albums/with/72157712283932502" target="_blank">
            <i class="huge flickr icon"></i>
        </a>
        <a class="item" href="https://twitter.com/sjsuvsa" target="_blank">
            <i class="huge twitter icon"></i>
        </a>
    </div>
</div>




</div>


<%- include ("../partials/footer") %>
