<%- include ("../partials/header") %>

<div class="ui grid">

    <div class="seven wide centered column row">
        <h1 class="projectHeader"> Affirmation Messenger </h1>
        <img src="/gif/affirmationdemo.gif">
    </div>


    <div class="contain15 stackable three column row">

            <div class="column">
                <h1> Situation </h1>
                    <div>
                        <h4>
                            At the end of the year, VSA would come together for one last event called End of the Year Banquet and you were able to write your name on envelopes and tape it to the wall. Throughout the event, members would be able to write affirmation notes and put them in member's envelopes. However VSA was not able to host this last event due to COVID-19 so this was my way of keeping the affirmations alive by digitalizing the process.
                        </h4>
                    </div>
            </div>

            <div class="column">
                <h1> Challenges </h1>
                    <div>
                        <h4>
                            One big challenge was time. I had the vision to make this happen but it was during a time where I had finals week and VSA responsibilities to take care of, but I was determined to make this website happen.
                        </h4>
                    </div>
            </div>

            <div class="column">
                <h1> Results </h1>
                    <div>
                        <h4> 500+ affirmations have been sent</h4>
                        <h4> Over 75 VSA members created an account </h4>
                    </div>
            </div>
        
    </div>



</div>





<%- include ("../partials/footer") %>