<%- include ("../partials/header") %>

<div class="ui grid">

    <div class="seven wide centered column row">
        <h1 class="projectHeader"> Coronavirus Adventure Game </h1>
        <img src="/gif/coronaAdventureDemo.gif">
    </div>


    <div class="contain15 stackable three column row">

            <div class="column">
                <h1> Situation </h1>
                    <div>
                        <h4>
                            Created a choose your own adventure website for my VSA family during the time of quarantine to keep them entertained at home
                         </h4>
                    </div>
            </div>

            <div class="column">
                <h1> Challenges </h1>
                    <div>
                        <h4>
                            One of the biggest barriers was when my Javascript file was not working. After hours of debugging, I realized it's because my AdBlocker blocked my Javascript file because it was named adv.js and the keyword 'adv' didn't allow it to run on my website. 
                        </h4>
                    </div>
            </div>

            <div class="column">
                <h1> Results </h1>
                    <div>
                        <h4> The first deployed website I shared with my friends & family </h4>
                    </div>
            </div>
        
    </div>



</div>





<%- include ("../partials/footer") %>