<%- include ("../partials/header") %>

<div class="ui grid">

    <div class="seven wide centered column row">
        <h1 class="projectHeader"> Mentorship Pairing Tool </h1>
        <video width="100%" height="auto" muted autoplay loop playsinline>
            <source src="/gif/pairingtooldemo.mp4" type="video/mp4">
            <img src="/gif/pairingtooldemo.gif">
            Your browser does not support the video tag.
        </video>
    </div>


    <div class="contain15 stackable three column row">

            <div class="column">
                <h1> Situation </h1>
                    <div>
                        <h4>
                            The mentorship program are for new members to sign up as little brother/sister and for older members to sign up as big brother/sister. When they sign up, they fill out a detailed application that asks them about their interest, personality, life experience, and more. This pairing process is long and tedious as the committee has to go through every application multiple times one by one to make sure they get the best pairing. This tool will allow more quality pairings and give more time for the committee to focus on other aspects of the application.
                        </h4>
                    </div>
            </div>
            <div class="ui hidden divider"></div>


            <div class="column">
                <h1> Challenges </h1>
                    <div>
                        <h4> 
                            We had to figure out the best algorithm or data structure that best fits our model. We narrowed it down between: Radix sort, Priority Queue using heaps, and Bipartite matching algorithm. We decided with Radix sort because it has a time complexity of O(n) and it works with our model since it will always be a fixed number of bigs/littles. However, it takes more memory.
                        </h4>
                    </div>
            </div>
            <div class="ui hidden divider"></div>


            <div class="column">
                <h1> Personal Impact </h1>
                    <div>
                        <h4> Increased accuracy of compatibilities by 10% by adding a dynamic factor to the algorithm</h4>
                        <h4> Created the algorithm and point system that would determine compatibility between a big and little based on interests </h4>
                    </div>
            </div>
            <div class="ui hidden divider"></div>

                
    </div>


    <div class="ui hidden divider"></div>

    <div class="contain5 doubling two column row">
        <div class="column">
            <img src="/images/projects/pairingtool/pairingMotivation.jpg">
        </div>

        <div class="column">
            <img src="/images/projects/pairingtool/pairingChallenges.jpg">
        </div>

    </div>

    <div class="contain5 doubling two column row">

        <div class="column">
            <img src="/images/projects/pairingtool/pairingApproach.jpg">
        </div>

        <div class="column">
            <img src="/images/projects/pairingtool/pairingTeam.jpg">
        </div>

    </div>







</div> <!--end of ui grid -->





<%- include ("../partials/footer") %>