<%- include ("../partials/header") %>

<div class="ui grid">

    <div class="seven wide centered column row">
        <h1 class="projectHeader"> Schedule Master </h1>
        <video width="100%" height="auto" muted autoplay loop playsinline>
            <source src="/gif/schedulemasterdemo.mp4" type="video/mp4">
          Your browser does not support the video tag.
          </video>
    </div>


    <div class="contain15 stackable three column row">

            <div class="column">
                <h1> Situation </h1>
                    <div class="textSegment">
                        <h4>
                            This was a class project for Software Engineering I. We created a website that allowed guest users to schedule times with other users. 
                        </h4>
                    </div>
            </div>

            <div class="column">
                <h1> Challenges </h1>
                    <div class="textSegment">
                        <h4>
                            This was my first experience building a website with a group of people. It was difficult trying to divide the work amongst all of us. However, we were able to implement weekly sprints and scrums to increase group efficiency. 
                        </h4>
                    </div>
            </div>

            <div class="column">
                <h1> Personal Impact </h1>
                    <div class="textSegment">
                        <h4> I was responsible for the front end development of the application </h4>
                        <h4> Implemented Sphinx documentation to create beautiful and intelligent documentation </h4>
                    </div>
            </div>
        
    </div>



</div>





<%- include ("../partials/footer") %>