<%- include ("../partials/header") %>

<div class="ui grid">

<div class="five wide centered column row">
    <h1 class="projectHeader"> Schedule Master </h1>
    <img src="/images/projects/schedulemaster/schedulemasterdemo.gif">
</div>


    <div class="contain three column row">

            <div class="center column">
                <h1> Situation </h1>
                    <div class="ui segment">
                        <h4>
                            This was a school project with a group of 4. We created a website that allowed guest users to schedule times with other users. 
                        </h4>
                    </div>
            </div>

            <div class="center column">
                <h1> Challenges </h1>
                    <div class="ui segment">
                        <h3>
                            This was my first experience building a website with a group of people. It was difficult trying to divide the work amongst all of us. However, we were able to implement weekly sprints and scrums to increase group efficiency. 
                        </h3>
                    </div>
            </div>

            <div class="center column">
                <h1> Personal Impact </h1>
                    <div class="ui segment">
                        <h3> I was responsible for the front end development of the application </h3>
                        <h3> Implemented Sphinx documentation to  </h3>
                    </div>
            </div>
        
    </div>



</div>





<%- include ("../partials/footer") %>