<%- include ("../partials/header") %>

<div class="ui grid">

    <div class="seven wide centered column row">
        <h1 class="projectHeader"> Yelp Camp </h1>
        <img src="/gif/yelpcampdemo.gif">
    </div>


    <div class="contain15 stackable three column row">

            <div class="column">
                <h1> Situation </h1>
                    <div>
                        <h4>
                            This was a project from a Web Development Udemy course that allows users to add, edit, delete, and comment on campgrounds. 
                        </h4>
                    </div>
            </div>

            <div class="column">
                <h1> Challenges </h1>
                    <div>
                        <h4>
                            A few of the challenges included trying to teach myself the newer technologies since parts of the course were outdated. I also caught myself many times just copying the instructor. So I had to stop myself and really think about the bigger picture when I fell into this trance of of watching and copying
                        </h4>
                    </div>
            </div>

            <div class="column">
                <h1> Results </h1>
                    <div>
                        <h4> Implement REST architecture to map HTTP routes and CRUD functionalities </h4>
                        <h4> Added user authentication and authorization </h4> 
                    </div>
            </div>
        
    </div>

    <div class="ui hidden divider"></div>

    <div class="contain5 two column row">

        <div class="column">
            <img src="/images/projects/yelp/certificate.jpg">
        </div>

        <div class="column">

        </div>

    </div>



</div>





<%- include ("../partials/footer") %>